%header
  #logo
    %img{ :src => "assets/images/logo.png", :alt => "Drew Minns" }

  %nav
    %ul
      %li
        %a{:href => "#portfolio"} Portfolio
      %li
        %a{:href => "#about"} About
      %li
        %a{:href => "#contact"} Contact