.wrapper#portfolio
  #items
    %h2
      Portfolio
    %ul#grid.grid
      %li
        %a{"data-description" => "A promotional campaign for CBC and Hyundai built on Rails that ran during the winter of 2012/2013. Utilizing Haml and Sass, the site provided registration for workshops that toured the country,as well as providing tips for Coaches and Players.", "data-largesrc" => "assets/images/portfolio/cbchockeynation.jpg", "data-title" => "CBC Hockey Nation", :href => "http://cbchockeynation.com/"}
          %img{:alt => "img01", :src => "assets/images/portfolio/thumbs/cbchockeynation.jpg"}/
      %li
        %a{"data-description" => "A Facebook application built on Rails that allows consumers of Johnnie Walker to create custom labels for their bottles that can be then used as gifts.", "data-largesrc" => "assets/images/portfolio/johnniewalker.jpg", "data-title" => "Johnnie Walker Custom Label", :href => "https://www.facebook.com/JohnnieWalkerCanada/app_407603789310636"}
          %img{:alt => "img02", :src => "assets/images/portfolio/thumbs/johnniewalker.jpg"}/
      %li
        %a{"data-description" => "A full website for international Metal artists Kobra And The Lotus. Built on Wordpress, the site features a Tour section baked into the theme as a plugin, as well is fully responsive for all modern devices", "data-largesrc" => "assets/images/portfolio/kobra.jpg", "data-title" => "Kobra And The Lotus", :href => "http://www.kobraandthelotus.com/"}
          %img{:alt => "img03", :src => "assets/images/portfolio/thumbs/kobra.jpg"}/
      %li
        %a{"data-description" => "A full website for a Toronto based event company that operates boat cruises in Lake Ontario. Built on Wordpress, the site was executed from ideation to completion based on the clients business needs.", "data-largesrc" => "assets/images/portfolio/epiccruises.jpg", "data-title" => "Epic Cruises", :href => "http://epiccruises.ca/"}
          %img{:alt => "img01", :src => "assets/images/portfolio/thumbs/epiccruises.jpg"}/
      %li
        %a{"data-description" => "A promotional site tied-in to Down With Websters release of their single “Jessica”. The concept and theme was chosen and executed by myself and the 3 others on the UMC Interactive team. The site uses CSS3 components for the UI elements and reworked CSS rules for the Facebook API delivery elements.", "data-largesrc" => "assets/images/portfolio/bestfriend.jpg", "data-title" => "I Want Your Best Friend", :href => "http://cbchockeynation.com/"}
          %img{:alt => "img01", :src => "assets/images/portfolio/thumbs/bestfriend.jpg"}/
      %li
        %a{"data-description" => "A promotional tour map that allows fans to follow the one, the only, Bryan Adams while on tour in Canada. Using Leaflet.js to bring in a custom map, the app has been reused for such artists as Jann Arden, Hedley and Hey Ocean.", "data-largesrc" => "assets/images/portfolio/bryanadams.jpg", "data-title" => "Bryan Adams Tour Map", :href => "http://cbchockeynation.com/"}
          %img{:alt => "img01", :src => "assets/images/portfolio/thumbs/bryanadams.jpg"}/